
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    padding: 70px 0px; 
    padding-bottom: 70px;
    background-image: url('/app/webroot/img/backgroundBlog4.jfif');
    position: sticky;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;

    /* background-color: #CDFh4F0; */
}