@import 'variables';


html{
    background-image: url('/app/webroot/img/backgroundBlog4.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding:0px 0px 25px;
    display: flex;
    justify-content: center;

    nav{
        padding: 0px 100px;
    }
    body{
        min-width: 260px;
        margin: 80px 0px 0px;
        padding: 15px;
        width: 90vw;
        min-height: 80vh;
        height: max-content;
        background-color: $segunda;
        background-repeat: no-repeat;
        border-radius: 1vh;
    }
}


