
body{
    margin: 80px 0px;
    background-image: url('/app/webroot/img/backgroundBlog4.jfif');
    position: sticky;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    
    nav{
        padding: 0px 200px;
        div.container-fluid{
            div.collapse{
                ul.navbar-right{
                    a{
                        margin-left: 10px;
                        display: inline-block;
                        color: green;       
                        font-weight: bold;                 
                    }
                }
            }
        }
    }
}


