$bgColorAcesso : white;
$defaultGray : gray;
$primeira : white ;
$segunda : #F2F2F0;
$terceira : #262014;
$quarta : #F2B279;
$quinta : #73503C;
$botoes : #A5F2B6;
$sombraCaixas : #7658A6;
$corPadraoLetra : black;
