body { 
    padding: 70px 0px; 
    padding-bottom: 70px;
    background-image: url('/app/webroot/img/backgroundBlog4.jfif');
    position: sticky;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;

    /* background-color: #CDFh4F0; */
}