@import './default';



#dropdown-menu-navbar{
    ul{
        margin: 0px;
        text-align: center;
        display: inline-block;
        padding: 0px;
        li{
            a{
                
                width: 500px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;
            }
        }
    }
}