@charset "utf-8";

.add_titulo {
    background-color: darkkhaki;
    width: 45vh;
    height: 6vh;
    text-align: justify;
    text-indent: 1vh;
    color: #191911;
    box-shadow: 3px 2px 3px darkred;
    border-radius: 1vh;
}

.add_titulo_corpo #titleLogin{
    background-color: darkkhaki; 
    width: 100vh;
    height: 6vh;
}

.add_titulo_corpo #titleLogin::placeholder{
    padding-top: 1px;
    color: #FCE9B1;
    font-size: 16px;
}


.add_corpo #titleLogin{
    background-color: darkkhaki;
    width: 100vh;
    height: 30vh;
}

.add_corpo #titleLogin::placeholder{
    color: #FCE9B1;
    font-size: 16px;
}

.add_corpo .submit {
    padding: 15px 32px;
    background-color: crimson;
    box-shadow: 1px 1px saddlebrown;
    display: inline-block;
    border: none;
}