@charset "utf-8";

.add_titulo {
    background-color: darkkhaki;
    width: 45vh;
    height: 6vh;
    text-align: justify;
    text-indent: 1vh;
    color: #191911;
    box-shadow: 3px 2px 3px darkred;
    border-radius: 1vh;
}

.add_titulo_corpo{
    background-color: darkkhaki; 
    width: 100vh;
    height: 10vh;
}


.add_corpo {
    background-color: darkkhaki;
    width: 100vh;
    height: 30vh;
}

