@charset "utf-8";

.table > tbody > tr:hover{
    background-color: #FFE8CA;
}

#cabecalho{
    /* border: 3px outset hsl(77, 7%, 19%); */
    border-style: outset !important;
}

.table-striped {
    background-color: #BABABA;
}

.table-bordered > tbody > tr {
    border-style: groove; 
}

.mainTitle h1{
    box-shadow: 1vh 1vh #3d2e1b;
    text-shadow: 1px 1px#dfdfdf;
    width: 50vh;
    height: auto;
    margin: auto;
    text-align: center;
    display: block;
    color: #3d2e1b;
    background-color: #f4ba7b;
    opacity: 0.8;
    margin-top:9vh;
    margin-bottom: 10vh;
    border-radius: 1vh;
}

#AddPost{
    margin-bottom: 5vh;
}