@import 'variables';

.botaoAdicionarPost{
    display: flex;
    justify-content: right;
    margin: 30px 0px;
    a {
        &#addPost{
            color: rgb(57, 159, 255);
        }
        span{
            &#crossAddPost{
                color: black; 
            }
        }
    }
}

.mainTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 20vh;

    h1{
        margin: 0px;
        padding: 5px;
        box-shadow: 1vh 1vh 5px #3d2e1b;
        text-shadow: 1px 1px #dfdfdf;
        width: 25vw;
        text-align: center;
        color: #3d2e1b;
        background-color: $quarta;
        border-radius: 1vh;
    }
}


.table-striped {
    background-color: #BABABA;
}

.container-fluid{
    
    .formulario-filtros{
        display: flex;
        justify-content: center;
        align-items: center;
        form{
            display: flex;
            justify-content: space-around;
            padding: 15px;
            width: 900px;
            .filtros{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                select, input{
                    margin: 10px;
                    width: 130px;


                  
                         
                }
            }

            .envio{
                display: flex;
                padding: 0px 15px 0px;
                justify-content: center;
                align-items: center;
            }
        }
    }

    

    
    
    table {
        
        width: 900px;
        margin: auto;
        
        
        #cabecalho {
            th{
                border: 3px solid #BABABA;    
                font: sans-serif;
                text-align: center;
            }
        }
        tbody{
            .linePosts {
                td {
                    border-style: dotted;
                    text-align: center;
                }
            } 
            tr:hover{
                background-color: #FFE8CA;
            }
        }  
    }
}
















