@import 'variables';


.mainTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 20vh;

    h1{
        margin: 0px;
        box-shadow: 1vh 1vh 5px #3d2e1b;
        text-shadow: 1px 1px #dfdfdf;
        width: 25vw;
        text-align: center;
        color: #3d2e1b;
        background-color: $quarta;
        border-radius: 1vh;
    }
}



.container-fluid{
    display: flex;
    form{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        .filtros{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            select{
                width: 130px;
            }
        }
        .envio{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
        }
    }
    .table-striped {
        background-color: #BABABA;
    }
    .table {
        
        width: 900px;
        margin: auto;
        a {
            #crossAddPost{
                color: black; 
            }
        }
        #addPost{
            margin-left: 16vh;
            margin-bottom: 5vh;
            color: rgb(57, 159, 255);
        }
        #cabecalho {
            th{
                border: 3px solid #BABABA;    
                font: sans-serif;
                text-align: center;
            }
        }
        tbody{
            .linePosts {
                td {
                    border-style: dotted;
                    text-align: center;
                }
            } 
            tr:hover{
                background-color: #FFE8CA;
            }
        }
        
    }
}















