@import 'variables';
.corpoAdd{       
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // align-items: center;
    // flex-flow: row wrap; 
    // flex-direction: column;
    // *{
    //     flex: 1 100%;
    // }
    .add_titulo{
        h1{
            padding: 10px;
            max-width: 310px;
            background-color: $primeira;
            text-align: center;
            box-shadow: 3px 2px 3px $sombraCaixas;
            border-radius: 1vh;
        }
    }
    .add_titulo_corpo {
        #titleLogin{
            background-color: $primeira; 
            height: 40px;
            max-width: 700px;
            resize: none;
            margin-top: 30px;
            ::placeholder{
                padding-top: 1px;
                color: $segunda;
                font-size: 16px;
            }
        }
        
    }

    .add_corpo{
        #titleLogin{
            background-color: $primeira;
            height: 30vh;
            max-width: 700px;
            resize: none;
            ::placeholder{
                color: #FCE9B1;
                font-size: 16px;
            }
        }
    }

    .send_form {
        .submitButton {
            margin-top: 15px;
            padding: 8px 16px;
            max-width: 700px;
            background-color: $botoes;
            box-shadow: 1px 1px $terceira;
            border: none;
            text-decoration: none;
            border-radius: 5px;
        }
    }
}
