@charset "utf-8";
@import 'variables';

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron-fluid{

    background-color: $bgColorAcesso;
    border-color: #DAE6FB;
    color: $segunda;
    max-width: 25vw;
}

.container > .form-group {
    text-align: center;
}

#botaoEnviar {
    font-weight: 60px;
    color: #313333;
    background: $botoes;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}