@charset "utf-8";
@import 'variables';

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    
}

.jumbotron-fluid{
    background-color: $bgColorAcesso;
    border-color: #DAE6FB;
    color: $corPadraoLetra;
    min-width: 250px;
    max-width: 335px;
    padding: 25px;
    border-radius: 5px;
}

.container{
    .form-group {
        text-align: center;
    }
    transform: scale(1.5);
} 
    

#botaoEnviar {
    font-weight: 60px;
    color: #313333;
    background: $botoes;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}