@charset "utf-8";

.jumbotron-fluid{
    background-color: #71CA6C;
    border-color: #DAE6FB;
    color: #fff;
    margin-top: 125px;
}

.container > .form-group {
    text-align: center;
}

#ss {
    font-weight: 60px;
    color: #313333;
    background: linear-gradient(90deg, #FFF2DA 0%, #FEBC43 100%);
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}