@import 'variables';

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgAddUser{
    padding: 30px 50px 30px;
    background-color: $bgColorAcesso;
    max-width: 360px;
    min-width: 250px;

    text-align: center;
    border-radius: 5px;
    margin: auto;
    form{
        fieldset{
            legend{
                color: $bgColorAcesso;
                font-size: 32px;
            }
            .select{
                label{
                    margin-right: 30px;
                    color: $defaultGray;
                }
            }
            #profileAddUser{
                color: $defaultGray;
            }
        }
    }
    
}

#usernameAddUser{
    border-radius: 5px;
    margin-bottom: 10px;
}

#passwordAddUser{
    border-radius: 5px;
    margin-bottom: 5px;

}   



#submitAddUser{
    margin-top: 20px;
    color: $terceira;
    border: none;
    background: $botoes;
}